body {
    background-color: aqua;
}

.menu_gracza {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#przyciski_rozwijania > button{
    position: fixed;
    height: 15vmin;
    width: 15vmin;
    border: 1vmin solid black;
}

#rozwin1 {
    top: 150px;
    left: 150px;

}

#rozwin2 {
    top: 150px;
    right: 150px;

}

#rozwin3 {
    bottom: 150px;
    left: 150px;

}

#rozwin4 {
    bottom: 150px;
    right: 150px;

}
#menu_graczy{
    position: fixed;
    visibility: hidden;
    background-color: brown;
    height: 30vmin;
    width: 30vmin;
    text-align: center;
}
#menu_gracza1 {
    top: 50px;
    left: 50px; 
}

#menu_gracza2 {
    top: 50px;
    right: 50px;

}

#menu_gracza3 {
    bottom: 50px;
    left: 50px;

}

#menu_gracza4 {
    bottom: 50px;
    right: 50px;
}