body {
    background-color: grey;
    margin: 0;
    padding: 0;
}

#ekran_startowy {
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

#tlo_menu_glowne{
    height: 100vh;
    width: 100vw;
    filter: blur(3px);
}

.flex_pion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_poziom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.avatar {
    height: 16.1vmin;
    width: 16.1vmin;
    top: 23%;
    position: absolute;
}

#start {
    width: 30vmin;
    height: 10vmin;
    background-image: url('grafiki/menu_grafiki/start.png');
    background-size: cover;
    position: fixed;
    border: none;
    margin-bottom: 49vmin;
}

.ustawienia {
    width: 50vmin;
    height: 50vmin;
    background-image: url('grafiki/menu_grafiki/ustawienia.png');
    background-size: cover;
    position: fixed;
    margin-top: 23vmin;
}

#muzyka_glosnosc,
#muzyka_glosnosc2 {
    left: 34.5%;
    top: 16.3%;
    height: 2vmin;
    width: 3vmin;
    background-color: transparent;
    position: absolute;
    color:  white;
    border: none;
}

#muzyka_slider,
#muzyka_slider2 {
    left: 39.5%;
    top: 16.1%;
    height: 2vmin;
    width: 21vmin;
    position: absolute;
}

#sfx_glosnosc,
#sfx_glosnosc2 {
    left: 34.5%;
    top: 24.7%;
    height: 2vmin;
    width: 3vmin;
    background-color: transparent;
    position: absolute;
    color:  white;
    border: none;
}

#sfx_slider,
#sfx_slider2 {
    left: 39.5%;
    top: 24.5%;
    height: 2vmin;
    width: 21vmin;
    position: absolute;
}

.przycisk_menu {
    height: 4vmin;
    width: 4vmin;
}

.los{
    position: absolute;
    background-size: cover;
    left: 5%;
    top: 5%;
}

.strzalka_srodek_lewo{
    background-size: cover;
    position: absolute;
    left: 5%;
    top: 43%; 
}

.strzalka_srodek_prawo{
    position: absolute;
    background-size: cover;
    right: 5%;
    top: 43%; 
}

.strzalka_dol_lewo{
    position: absolute;
    background-size: cover;
    left: 5%;
    bottom: 5%; 
}

.strzalka_dol_prawo{
    position: absolute;
    background-size: cover;
    right: 5%;
    bottom: 5%; 
}

.input_menu {
    height: 2.4vmin;
    width: 16.1vmin;
    background-color: transparent;
    color: white;
}

.nazwa_gracza_menu{
    position: absolute;
    top: 7.5%;
    left: 22%;
}
.profil_gracza_menu{
    position: absolute;
    bottom: 7.5%;
    left: 22%;
}
.zwijanie {
    position: absolute;
    top: 1px;
    right: 1px;
    background-size: cover;
}

#przyciski_rozwijania>* {
    position: fixed;
    height: 15vmin;
    width: 15vmin;
    background-size: cover;
    border: none;
}

#rozwin1 {
    top: 18vmin;
    left: 18vmin;
    background-image: url('grafiki/menu_grafiki/plus_red.png');
}

#rozwin2 {
    top: 18vmin;
    right: 18vmin;
    background-image: url('grafiki/menu_grafiki/plus_blue.png');
}

#rozwin3 {
    bottom: 18vmin;
    left: 18vmin;
    background-image: url('grafiki/menu_grafiki/plus_green.png');
}

#rozwin4 {
    bottom: 18vmin;
    right: 18vmin;
    background-image: url('grafiki/menu_grafiki/plus_yellow.png');
}

#menu_graczy>* {
    position: fixed;
    display: none;
    background-color: brown;
    height: 30vmin;
    width: 30vmin;
    text-align: center;
    border: none;
}

#menu_gracza1 {
    top: 11vmin;
    left: 11vmin;
    background-image: url('grafiki/menu_grafiki/menu_gracza_red.png');
    background-size: cover;
}

#menu_gracza2 {
    top: 11vmin;
    right: 11vmin;
    background-image: url('grafiki/menu_grafiki/menu_gracza_blue.png');
    background-size: cover;
}

#menu_gracza3 {
    bottom: 11vmin;
    left: 11vmin;
    background-image: url('grafiki/menu_grafiki/menu_gracza_green.png');
    background-size: cover;
}

#menu_gracza4 {
    bottom: 11vmin;
    right: 11vmin;
    background-image: url('grafiki/menu_grafiki/menu_gracza_yellow.png');
    background-size: cover;
}

#gra {
    display: none;
    flex-direction: row;
}

.menu_statystyk {
    height: 100vh;
    width: 36vh;
    background-image: url('grafiki/menu_boczne_grafiki/menu_boczne_tlo.png');
    background-size: cover;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.menu_statystyk * {
    text-align: center;
    color: white;
    position: relative;
    border: none;
    font-family: Segoe UI;
}
.ekran_gry {
    height: 100vh;
    width: calc(100vw - 36vh);
    background-color: blue;
    display: none;
}

#mapa,#ustawienia2{
    width: calc(100vw - 36vh);
    height: 100vh;
    background-color: white;
    justify-content: center;
}

#ekran_statystyk{
    width: 30vw;
    height: 10vh;
    justify-content: center;
    background-color: aqua;
}

#mapa{
    display: flex;
    background-color:#1F1F1F;
}

#ustawienia2, #ekran_statystyk{
    display: none;
    position: absolute;
}

#ustawienia2{
    background-color: transparent;
}

#przycisk_statystyki {
    background-image: url('grafiki/menu_boczne_grafiki/Statystyki.png');
    background-size: cover;
    height: 8.6vh;
    width: 15vh;
    margin: 0.5vh;
    margin-bottom: 5vh;
    position: absolute;
    top: 0.9vh; 
    left: 5.5%;
}

#ustawienia_menu_boczne {
    background-image: url('grafiki/menu_boczne_grafiki/Ustawienia.png');
    background-size: cover;
    height: 8.6vh;
    width: 15vh;
    margin: 0.5vh;
    margin-bottom: 5vh;
    position: absolute;
    top: 0.9vh; 
    right: 5.5%;
}

.nr_gracza {    
    width: 3vh;
    height: 3vh;
    margin: 0.5vh;
    background-color: transparent;
    position: absolute;
}

.nazwa_gracza {
    width: 25.5vh;
    height: 3vh;
    margin: 0.5vh;
    background-color: transparent;
    position: absolute;
}

.klasa_gracza {
    margin: 0.5vh;
    width: 30vh;
    height: 3vh;
    background-color: transparent;
    position: absolute;
}

#ekwipunek {
    margin: 0.5vh;
    width: 32vh;
    height: 3vh;
    margin-top: 3vh;
    background-color: transparent;
    position: absolute;
}

#sanity,
#pieniadze{
    margin: 0.5vh;
    height: 3vh;
    width: 4vh;
    position: absolute;
    font-size: 20px;
    background-color: transparent;
}

#zdane_lata,
#obecny_rok {
    margin: 0.5vh;
    height: 3vh;
    width: 3vh;
    position: absolute;
    font-size: 20px;
    background-color: transparent;
}

.ekwipunek, .sklep_arsenal_obraz {
    border-collapse: collapse;
    margin: 0.5vh;
    width: 7.9vh;
    height: 7.9vh;
    background-size: cover;
    background-position: center;
    background-color: transparent;
}

.ekwipunek, .sklep_arsenal{
    position: absolute;
}

.sklep_arsenal{
    color: white;
}

#ekran_sklepu, #ekran_zdarzenia_nielosowego{
    display: none;
    height: 100vh;
    width: calc(100vw - 36vh);
    flex-direction: column;
}

#wnetrze_sklepu{
    height: 50vh;
    width: calc(100vw - 36vh);
    background-size: cover;
}

#panel_sklepu{
    height: 50vh;
    width: calc(100vw - 36vh);
    background-color: black;
}

.odpowiedz {
    background-color: transparent;
    width: 26.4vw;
    height: 12.3vh;
    margin: 2vw;
    color: white;
    position: absolute;
    font-size: 30px;
    border: none;
}

#odpowiedz_a{
    top: 44.1vh;
    left: 11.4%;
}

#odpowiedz_b{
    top: 44.1vh;
    left: 47%; 
}

#odpowiedz_c{
    top: 67.4vh;
    left: 11.4%;
}

#odpowiedz_d{
    top: 67.4vh;
    left: 47%;
}

#tresc, #nazwa_zdarzenia{
    display: flex;
    position: absolute;
    top: 9.3vh;
    left: 13.65%;
    width: 56.3vw;
    height: 24.1vh;
    background-color: transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 6vh;
    color: white;
}



.margines_gora {
    margin-top: 3vh;
}

#ekran_pytania{
    height: 100vh;
    width: calc(100vw - 36vh);
    background-image: url('grafiki/pytanie.png');
    display: none;  
    background-repeat: no-repeat;
    background-size:calc(100vw - 36vh) 100vh;
}

#ekran_dialogu{
    height: 100vh;
    width: calc(100vw - 36vh);
    display: none;
    background-color: azure;
    flex-direction: column;
}

#ekran_zdarzenia{
    height: 100vh;
    width: calc(100vw - 36vh);
    background-image: url('grafiki/zdażenie.png');
    display: none;  
    background-repeat: no-repeat;
    background-size:calc(100vw - 36vh) 100vh;
}

#opis{
    display: flex;
    position: absolute;
    top: 38.2vh;
    left: 7%;
    width: 69.3vw;
    height: 45.5vh;
    background-color: transparent;
    justify-content: center;
    text-align: center;
    font-size: 4vh;
    color: white;
}

#ekran_nagrody{
    position: absolute;
    height: 29vh;
    width: 40vh;
    background-image: url("grafiki/statystyki_pytania.png");
    visibility: hidden;
    background-size: cover;
}

#ilosc_pytan{
    position: absolute;
    height: 3vh;
    width: 4vh;
    top: 10%;
    left: 10%;
}

#ilosc_poprawnych_odpowiedzi{
    position: absolute;
    height: 3vh;
    width: 4vh;
    top: 10%;
    left: 10%;
}

#ocena{
    position: absolute;
    height: 3vh;
    width: 4vh;
    top: 10%;
    left: 10%;
}

#zmiana_sanity{
    position: absolute;
    height: 3vh;
    width: 4vh;
    top: 10%;
    left: 10%;
}

#wyjdz_ze_sklepu, #przejdz_dalej_dialog, #zakoncz_dialog{
    height: 10vh;
    width: 80%;
    background-color: greenyellow;
}

#przejdz_dalej{
    background-color: #5E5E5E;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 87vh;
    left: 34.7vw;
    height: 7vh;
    width: 14vw;
    position: fixed;
    background-image: url("grafiki/Przejdz_dalej.png");
    border: none;
    display: none;
}

#przejdz_dalej_zdarzenie{
    background-color: #5E5E5E;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 87vh;
    left: 34.7vw;
    height: 7vh;
    width: 14vw;
    position: fixed;
    background-image: url("grafiki/Przejdz_dalej.png");
    border: none;
}/* jakby ktoś się zastanawiał dlaczego przejdz dalej i przejdz dalej zdażenie nie są razem, to dlatego że jeden musi mieć display none, a drógi nie może (a w htmlu nie chciało mi się zmieniać (ale pewnie kiedyś to zrobę w ramach optymalizacji jak nie zapomnę))*/

#zakoncz_ture{
    background-color: #5E5E5E;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    top: 87vh;
    left: 34.7vw;
    height: 7vh;
    width: 14vw;
    position: fixed;
    background-image: url("grafiki/Zakończ_ture.png");
    border: none;
    display: none;
}

.gracz{
    height: 10vh;
    width: 10vh;
    background-color: transparent;
    background-size: cover;
    display: none;
}

.mapowanie_mapy *{
    position: absolute;
}

/* #ekran_sali{
    height: 100vh;
    width: calc(100vw - 36vh);
    display: none;
    background-color: #212121;
    justify-content: center;
    align-items: center;
} */

/* #obraz_sala{
    height: 100%;
} */

#uzyj_przedmiotu{
    position: absolute;
    top: 84.5%;
    left: 31%;
    width: 13.4vh;
    height: 4.15vh;
    background-size: cover;
}

#statystyki_przedmiotu{
    height: 35vh;
    width: 35vh;
    margin: 0.5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    display: none;
    right: 0;
    top: 28vh;
    margin-top: 3vh;
    position: absolute;
}
#nazwa_przedmiotu{
    position: absolute;
    top: 4.3%;
    left: 5%;
    width: 24.3vh;
    height: 3.7vh;
    margin: 0.5vh;
    font-size: 3vh;
}
#zamknij_dokladny_opis_przedmiotu_w_ekwipunku_wybranego_gracza_majacego_teraz_ture_i_majacego_otwarte_menu_szegolow_przedmiotu{
    height: 4.3vh;
    width: 4.3vh;
    top: 5.1%;
    right: 6%;
    background-size: cover;
    position: absolute;
}

#opis_przedmiotu{
    position: absolute;
    top: 21%;
    left: 6.9%;
    height: 19.5vh;
    width: 30.2vh;
    font-size: 1.5vh;
}

#caly_ekwipunek{
    flex-direction: column;
}

#panel_zdarzenia_nielosowego {
    height: 30vh;
    width: calc(100vw - 36vh);
    background-color: black;
}

#obraz_zdarzenia_nielosowego{
    height: 70vh;
    width: calc(100vw - 36vh);
}

#opis_zdarzenia_nielosowego{
    color: white;
}

#przejdz_dalej_zdarzenie_nielosowe, #wylacz_zdarzenie_nielosowe{
    background-color: greenyellow;
    float: right;
    height: 40%;
    width: 20%;
}

#wylacz_zdarzenie_nielosowe{
    display: none;
}

.przycisk_sala, 
#przycisk_sklep,
.przycisk_mapa{
    background-size: cover;
    border: none;
}

#ekran_koncowy {
    display: none;
    height: 100%;
    overflow: hidden;
    background-color: black;
    color: white;
    font-size: 20px;
    height: 100vh;
    width: 100vw;
}
  
#napisy_koncowe {
    text-align: center;
    position: absolute;
    width: 100%;
    animation: scrollowanie_napisow_koncowych 15s linear forwards;
    animation-play-state: paused;
}
  
@keyframes scrollowanie_napisow_koncowych {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}

body.no-scroll {
    overflow: hidden;
}

#ekran_koncowy_naprawde{
    background-image: url('grafiki/menu_grafiki/CO\ ROBIMY\ 22.02.2025.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: none;
}