body{
    background-color: aqua;
}
.miejsce_uzytkownika{
    height: 30%;
    width: 30%;
    border-radius: 10%;
}
.btn {
    width: 200%; /* Określona szerokość */
    height: 50%; /* Opcjonalna wysokość */
}